* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  position: relative;
  width: 100%;
  height: 100%; /* Full viewport height */
  background: #000;
  /* overflow: hidden; */
}

.desktop-container,
.mobile-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  z-index: 1; /* Background layer */
}

.content {
  position: relative; /* Overlay the SVG container */
  top: 0;
  left: 0;
  /* transform: translateY(6.5%); */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensures content appears above background */
  color: white; /* Adjust text color for visibility */
}
