*{
  margin: 0;
}
.bg{
  width: 100%;
  background: #000;
}
.svg-container {
  background: #000;
  width: 90%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 60%;
  transform: translateX(-60%);
  align-items: center;
  justify-content: center;
}

.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px; /* Added padding */
  position: relative; /* Ensure it stays in the layout */
  width: 100%;
}




/* Tablet */
@media (max-width: 1024px) {
  *{
    margin: 0;
  }
  .svg-container {
    top:0;
    height: 100%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  *{
    margin: 0;
  }
  .svg-container {
    top: 0;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .footer{
    font-size: 0.75rem;
    padding: 1px;
    height: fit-content;
  }
}