/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    margin-top: 7rem;
  }

  .x-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .xcon{
    margin-block: 30px;
  }
  .x-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    /* margin-bottom: 10vh; */
    /* margin-block: ; */
    color: #fff;
    flex-wrap: wrap;
  }
  
  .x-container img {
    width: 18vw;
    max-width: 280px;
  }
  
  .x-container.reverse {
    flex-direction: row-reverse;
    gap: 20vw;
  }
  
.logo img {
    max-width: 30vw;
    height: auto;
}
  
.typed-logo img {
    max-width: 36vw;
    height: auto;
  }
.ecadx-container {
    display: flex;
    justify-content: center;
    /* margin-block: 7%; */
    padding-top: 20px;
    margin-right: 4%;
    gap: 13vw;
}
  
.intro-text {
    font-size: 1.2rem;
    text-align: left;
    max-width: 40vw;
  }
  
.x-container:not(.reverse) .intro-text {
    margin-left: 2rem;
}
#construction{
  margin-top: 10px;
  gap: 2vw;
}
#academy{
  margin-left: 8%;
  margin-top: 6%;
  /* gap:6vw; */
}

#finance{
  margin-top: 6%;
}
#studios{
  margin-top: 6%;
  margin-left: 8%;
}
  /* Tablet screens (below 1024px) */
  @media (max-width: 1024px) {
    .x-container {
      gap: 6vw;
      margin-bottom: 8vh;
      flex-direction: column;
      text-align: center;
    }
  
    .intro-text {
      font-size: 1rem;
      max-width: 60vw;
      text-align: center;
      margin-left: 0;
    }
  }
  
  /* Mobile screens (below 768px) */
  @media (max-width: 768px) {
    .x-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8vw;
      margin-bottom: 3vh;
    }
  
    .x-container img {
      width: 20vw;
      max-width: 100px;
    }
  
    .intro-text {
      font-size: 0.5rem;
      max-width: 30vw;
    }
  }
  