*{
  margin: 0;
  
  
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FBF8EF;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Changed to flex-start for proper alignment */
  min-height: 100vh;  /* Ensure full height of the viewport */
  background-color: #fff;  /* Optional: Background color for better visibility */
}

.nav {
    position: fixed;
    margin-left: 20px;
    top: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 5;
    padding: 30px 0;
    transition: ease-inheight 300ms,ease-in background-color 300ms;
}

.igm-slider{
  width: 100%;
}
